$white:   white;

$primary:     $white;

$link-color: $white;

$body-bg: #ffffff;

$font-family-sans-serif: "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";